<li>
	{{name}}

	<button class="change-eat btn btn-info" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eat}}Eat!{{else}}Haven't Eaten{{/if}}
	</button>

	<button class="delete-burger btn btn-danger" data-id="{{this.id}}">Remove!</button>
</li>
